# created by virtualenv automatically


# Ignore Python virtual environments
.venv/
.env/


# Ignore environment variables or sensitive config files
.env
*.env

# Ignore compiled files
__pycache__/
*.pyc


# Keep essential files
!.gitignore
!README.md
!*.py
!*.txt