# created by virtualenv automatically
.env
!.gitignore
!README.md
!*.py
!*.txt

SECRET_KEY = GPTtoldMeN0tToUSEp@ssword123
DATABASE_URL=postgresql://postgres:WhiteRabbit_25@localhost:5432/pet_parenting