<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {% block title %} Title {% endblock %}</title>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('landing.home') }}">Home</a></li>
        <li><a href="{{ url_for('pets.show_pets') }}">Pet Family</a></li>
        <li><a href="{{ url_for('users.new_user') }}">Create New User</a></li>

      </ul>
    </nav>
  </header>

  <main>
    <div class="content">
          {% block content %}
        {% endblock %}
    </div>
  </main>


<footer>
  <p> 2025 Pet Parenting All rights reserved</p>
</footer>
</body>
</html>