{% extends 'base.html' %}

{%block title %}Pet Family{% endblock %}

{% block header %}Edit Pet Parent Profile{% endblock %}

{% block content %}
<h2>Edit Your Profile</h2>


<form method="POST" action="{{ url_for('users.edit_user_profile') }}" enctype="multipart/form-data">
  {{ form.hidden_tag() }}

  <div>
    {{ form.phone.label }}
    {{ form.phone }}
  </div>

  <div>
    {{ form.location.label }}
    {{ form.location }}
  </div>

  <div>
    {{ form.birth_date.label }}
    {{ form.birth_date }}
  </div>

  <div>
    {{ form.pronouns.label }}
    {{ form.pronouns }}
  </div>

  <div>
    {{ form.profile_description.label }}
    {{ form.profile_description }}
  </div>


  <div>
    {{ form.profile_picture.label }}
    {{ form.profile_picture }}
  </div>

  <div>
    {{ form.languages_spoken.label }}
    {{ form.languages_spoken }}
  </div>

  <div>
    {{ form.experience_with.label }}
    {{ form.experience_with(rows="3") }}
  </div>

  <div>
    {{ form.certifications.label }}
    {{ form.certifications(rows="2") }}
  </div>

  <div>
    {{ form.submit }}
  </div>
</form>


{% endblock %}