{% extends 'base.html' %}

{% block title %}Pet Family{% endblock %}

{% block header %}Invite User{% endblock %}


{% block content %}
<div class="container mt-5">
  <h2 class="mb-4">Invite a New Member</h2>
  <form method="POST" action="{{ url_for('invitations.send_invitation') }}">
    {{ form.hidden_tag() }}

    <div class="form-field">
      {{ form.pet_id.label(class="form-label") }}
      {{ form.pet_id(class="form-control") }}
    </div>

    <div class="form-field">
      {{ form.invitee_id.label(class="form-label") }}
      {{ form.invitee_id(class="form-control") }}
    </div>

    <div class="form-field">
      {{ form.role.label(class="form-label") }}
      {{ form.role(class="form-control") }}
    </div>

    <div class="form-field">
      {{ form.access_level.label(class="form-label") }}
      {{ form.access_level(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Send Invite</button>
  </form>

</div>
{% endblock %}