{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block header %}Your Profile{% endblock %}

{% block content %}

<div class="container">
  <div class="profile">
  <h2 class="mb-4">Welcome, {{ user.name }}!</h2>

  {% if user.profile_picture %}
    <img src="{{ url_for('users.user_image', filename=user.profile_picture) }}"
       alt="{{ user.name }}'s Picture"
       class="img-fluid rounded mb-3"
       style="max-width: 200px;">
  {% else %}
    <p><em>No profile picture uploaded</em></p>
  {% endif %}

    <p><strong>Email:</strong> {{ user.email }}</p>


  {% if user.profile_description %}
    <p><strong>About you:</strong> {{ user.profile_description }}</p>
  {% else %}
    <p><em>No description yet.</em></p>
  {% endif %}




  {% if user.pronouns %}
    <p><strong>Pronouns:</strong> {{ user.pronouns }}</p>
  {% endif %}

  {% if user.phone %}
  <p><strong>Phone:</strong> {{ user.phone }}</p>
  {% endif %}

  {% if user.location %}
    <p><strong>Location:</strong> {{ user.location }}</p>
  {% endif %}

  {% if user.birth_date %}
    <p><strong>Birth Date:</strong> {{ user.birth_date.strftime('%B %d, %Y') }}</p>
  {% endif %}

  {% if user.languages_spoken %}
    <p><strong>Languages spoken:</strong> {{ user.languages_spoken }}</p>
  {% endif %}

  {% if user.certifications %}
    <p><strong>Certifications:</strong> {{ user.certifications }}</p>
  {% endif %}

  {% if user.experience_with %}
    <p><strong>Experience with:</strong> {{ user.experience_with }}</p>
  {% endif %}



  <a href="{{ url_for('users.edit_user_profile') }}" class="btn btn-outline-secondary mt-3">Edit Profile</a>



{% if user.created_at %}
  <p><strong>Member since:</strong> {{ user.created_at.strftime('%B %d, %Y') }}</p>
{% else %}
  <p><strong>Member since:</strong> unknown</p>
{% endif %}
  </div>
</div>
{% endblock %}